<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />


	<property name="FILE_LOG_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } [%t] --- %-40.40logger{39} : %m%n%wex" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}
			</pattern>
		</encoder>
	</appender>


	<appender name="MAIN_FILE" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>migration-${bySecond}.log</file>
	</appender>

	<appender name="POST_FIXER_SERVICE_APPENDER" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>migration-${bySecond}-post-fixer.log</file>
	</appender>

	<appender name="USERS_SERVICE_APPENDER" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>migration-${bySecond}-users.log</file>
	</appender>
	
	<appender name="FORUMS_SERVICE_APPENDER" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>migration-${bySecond}-forums.log</file>
	</appender>

	<root level="INFO">
		<appender-ref ref="MAIN_FILE" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="vtech.xmb.grabber.db.services.PostsFixerService"
		level="INFO" additivity="false">
		<appender-ref ref="POST_FIXER_SERVICE_APPENDER" />
	</logger>

	<logger name="vtech.xmb.grabber.db.services.MigrateUsers" level="INFO"
		additivity="false">
		<appender-ref ref="USERS_SERVICE_APPENDER" />
	</logger>
	
	<logger name="vtech.xmb.grabber.db.services.MigrateForums" level="INFO"
		additivity="false">
		<appender-ref ref="FORUMS_SERVICE_APPENDER" />
	</logger>

</configuration>