-dontshrink
-dontoptimize
-keepdirectories
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineNumberTable,LocalVariable*Table,*Annotation*,Synthetic,EnclosingMethod
-dontskipnonpubliclibraryclasses

# Keep - Applications. Keep all application classes, along with their 'main'
# methods.
-keepclasseswithmembers public class * {
    public static void main(java.lang.String[]);
}

# Also keep - Enumerations. Keep the special static methods that are required in
# enumeration classes.
-keepclassmembers enum  * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

# Also keep - Database drivers. Keep all implementations of java.sql.Driver.
-keep class * extends java.sql.Driver

# Also keep - Swing UI L&F. Keep all extensions of javax.swing.plaf.ComponentUI,
# along with the special 'createUI' method.
-keep class * extends javax.swing.plaf.ComponentUI {
    public static javax.swing.plaf.ComponentUI createUI(javax.swing.JComponent);
}

# Keep names - Native method names. Keep all native class/method names.
-keepclasseswithmembers,allowshrinking class * {
    native <methods>;
}


# project specific options
-keep public class vtech.xmb.grabber.db.repositories.** {
  public protected private *;
}

-keep public class vtech.xmb.grabber.db.entities.** {
  public protected private *;
}

-keep public class vtech.auctions.module.database.mappers.** {
  public protected *;
}

-keep public class vtech.auctions.module.database.dto.** {
  public protected *;
}

-keep public class vtech.auctions.module.database.domain.** {
  public protected *;
}

-keep public class vtech.allegro.webapi.** {
  public protected *;
}
